<h1>Edit Snapshot</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.snapshots_path(@conn, :update, @snapshot)) %>

<span><%= link "Back", to: Routes.snapshots_path(@conn, :index) %></span>
