<h1>Show Photo</h1>

<ul>

  <li>
    <strong>Photo:</strong>
    <%= @photo.photo %>
  </li>

  <li>
    <strong>Uuid:</strong>
    <%= @photo.uuid %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.photo_path(@conn, :edit, @photo) %></span> |
<span><%= link "Back", to: Routes.photo_path(@conn, :index) %></span>
